 @model IEnumerable<HShop2024.ViewModels.HangHoaVM>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.add-to-cart').click(function (event) {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của link

            var productId = $(this).data('id'); // Lấy ID sản phẩm từ data attribute

            $.ajax({
                url: '/Cart/AddToCart2', // URL đến action AddToCart của controller Cart
                type: 'POST',
                data: { id: productId, quantity: 1 }, // Dữ liệu gửi lên server
                success: function (response) {
                    if (response.success) {
                        // Cập nhật số lượng sản phẩm trong giỏ hàng
                        $('#quantityadd').text(response.cartCount);
                        alert('Sản phẩm đã được thêm vào giỏ hàng');
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Có lỗi xảy ra, vui lòng thử lại sau');
                }
            });
        });
    });
</script>

<h3> Có <b>@Model.Count()</b> sản phẩm.</h3>
@foreach (var item in Model)
{
	<div class="col-md-6 col-lg-6 col-xl-4">
		<div class="rounded position-relative fruite-item">
			<div class="fruite-img">
				<a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
					<img src="~/Hinh/HangHoa/@item.Hinh" class="img-fluid w-100 rounded-top" alt="@item.TenHH">
				</a>
			</div>
			<div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.TenLoai</div>
			<div class="p-4 border border-secondary border-top-0 rounded-bottom">
				<a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh"><h4>@item.TenHH</h4></a>
				<p>@item.MoTaNgan</p>
				<div class="d-flex justify-content-between flex-lg-wrap">
					<p class="text-dark fs-5 fw-bold mb-0">$@item.DonGia</p>
					<a href="#" data-id="@item.MaHh" class="btn border border-secondary rounded-pill px-3 text-primary add-to-cart">
						<i class="fa fa-shopping-bag me-2 text-primary"></i> Đưa vào giỏ
					</a>
					@* <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaHh" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Đưa vào giỏ</a> *@
				</div>
			</div>
		</div>
	</div>
}



