@model IEnumerable<HShop2024.ViewModels.OrderVM>
@{
    ViewData["Title"] = "Báo cáo";
    Layout = "_Layout2";
    var usCulture = new System.Globalization.CultureInfo("en-US"); // Thay đổi sang văn hóa Mỹ
    var totalRevenue = ViewBag.TotalRevenue is decimal ? (decimal)ViewBag.TotalRevenue : Convert.ToDecimal(ViewBag.TotalRevenue);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        h1 {
            font-size: 2rem;
            margin-bottom: 20px;
            color: #343a40;
        }

        h2 {
            font-size: 1.5rem;
            color: #28a745;
            margin-bottom: 20px;
        }

        table {
            margin-top: 20px;
        }

        thead {
            background-color: #007bff;
            color: #fff;
        }

        th {
            padding: 15px;
        }

        td {
            padding: 15px;
        }

        .table-bordered {
            border: 1px solid #dee2e6;
        }

            .table-bordered td, .table-bordered th {
                border: 1px solid #dee2e6;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1><i class="fas fa-receipt"></i> TECHNESTT REVENUE</h1>
        <h1>@ViewData["Title"]</h1>
        <div class="mb-3">
            <h2>Tổng tiền: @totalRevenue.ToString("C", usCulture)</h2>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mã Đơn Hàng</th>
                    <th>Tên Khách Hàng</th>
                    <th>Ngày Đặt Hàng</th>
                    <th>Tổng Số Tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.MaHd</td>
                        <td>@order.HoTen</td>
                        <td>@order.NgayDat.ToShortDateString()</td>
                        <td>@order.TotalAmount.ToString("C", usCulture)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
