@model IEnumerable<HShop2024.Data.HangHoa>

@{
    ViewData["Title"] = "Danh Sách Sản Phẩm";
    Layout = "_Layout2";
}

<h1>@ViewData["Title"]</h1>
<!-- Liên kết đến trang Create -->
<div class="mb-3">
    <a asp-action="Create" asp-controller="YeuThiches" class="btn btn-primary">Thêm vào Danh Sách Yêu Thích</a>
</div>
<!-- Form để chọn tùy chọn -->
<form method="get" action="@Url.Action("Index", "YeuThiches")" class="mb-3">
    <div class="col-xl-3">
        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
            <label for="sorting">Lọc theo:</label>
            <select id="sorting" name="sortOrder" class="border-0 form-select-sm bg-light me-3" onchange="this.form.submit()">
                <option value="">Chọn tùy chọn</option>
                <option value="isorganic">Organic</option>
                <option value="isfantastic">Fantastic</option>
                <option value="mostviewed">Lượt mua nhiều nhất</option>
            </select>
        </div>
    </div>
</form>

<!-- Hiển thị danh sách sản phẩm -->
<table class="table">
    <thead>
        <tr>
            <th>MaHh</th>
            <th>Tên Hàng Hóa</th>
            <th>Số Lượt Mua</th>
            <th>Organic</th>
            <th>Fantastic</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaHh</td>
                <td>@item.TenHh</td>
                <td>@item.SoLanXem</td>
                <td>@(item.IsOrganic ? "Có" : "Không")</td>
                <td>@(item.IsFantastic ? "Có" : "Không")</td>
            </tr>
        }
    </tbody>
</table>
